---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables";
@import "landing";
@import "footer";
@import "biler";
@import "kontakt";

.content {
    min-height: 80vh;
}
