.top-promo {
  min-height: 80vh;
  background: url("../img/landing-promo.jpg") center 30% no-repeat;
  background-size: cover;
  color: #fff;
}
.top-promo-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
}
footer {
  background-color: #424242;
  color: #a1a1a1;
  font-size: small;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #a1a1a1;
}
footer ul,
footer li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
footer .cluda-col {
  margin-top: 25px;
}
.biler-iframe {
  height: 100vh;
}
.kontakt ul,
.kontakt li {
  list-style-type: none;
  list-style-position: inside;
  margin-left: 0;
  padding-left: 0;
}
.kontakt .overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 600px;
  top: 600px;
  margin-top: -600px;
  z-index: 10;
}
.finans iframe {
  margin-top: 32px;
}
.finans img {
  display: block;
  padding-top: 30px;
  max-width: 250px;
  margin-bottom: 20px;
}
.content {
  min-height: 80vh;
}
.page-header {
  margin-bottom: 0.5em;
  margin-top: 0.8em;
}

.garanti-logo {
    max-width: 400px;
    margin: auto;
    display: block;
}