---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables";
@import "landing";
@import "footer";
@import "biler";
@import "kontakt";
@import "finansiering";

.content {
    min-height: 80vh;
}

.page-header {
    margin-bottom: 0.5em;
    margin-top: 0.8em;
}
