<footer class="container-fluid" role="contentinfo">
    <div class="row">
        <div class="col col-md-3">
            <ul>
                <li>Saga Bil AS</li>
                <li>Straumeveien 20</li>
                <li>5152 Bønes</li>
                <li>Orgnr: 918 860 681</li>
                </li>
            </ul>
        </div>

        <div class="col col-md-3">
            <h6>Kontakt</h6>
            <ul>
                <li>
                    <b>Telefon:</b> <br/> <a href="tel:47414339">474 14 339</a> / <a href="tel:91135991">911 35 991</a>
                </li>
                <li>
                    Epost: <br/> <a href="mailto:post@sagabil.no">post@sagabil.no</a>
                </li>
            </ul>
        </div>
        <div class="col col-md-3">
            <ul>
                {% for page in site.data.pages %}
                <li>
                    <a href="{{ page.link | prepend: site.baseurl }}">{{ page.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <p class="col">Nettside laget av <a class="cluda-link" href="http://cluda.com">Cluda AS</a></p>
    </div>
</footer>
