<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="utf-8">
    <meta name="url" content="http://sagabil.no/">
    <meta name="rating" content="General">

    <meta property="og:url" content="http://sagabil.no">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Saga bil">
    <meta property="og:description" content="Bruktbilforhandler">
    <meta property="og:site_name" content="Saga bil">
    <meta property="og:locale" content="no_NO">

    <meta name="twitter:card" content="Saga bil">
    <meta name="twitter:site" content="@SmartdekkAs">
    <meta name="twitter:creator" content="@cluda_as">
    <meta name="twitter:url" content="http://sagabil.no">
    <meta name="twitter:title" content="Saga bil">
    <meta name="twitter:description" content="Bruktbilforhandler">

    <meta itemprop="name" content="Saga Bil">
    <meta itemprop="description" content="Bruktbilforhandler">

    <meta name="apple-mobile-web-app-title" content="Saga bil">
    <meta name="theme-color" content="#000000">
    <meta name="renderer" content="webkit">

    <link rel="shortcut icon" href="{{ 'img/favicon.ico' | prepend: site.baseurl }}">

    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">

    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
</head>
