<nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">
        <img src="img/logo-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Saga Bil
    </a>
    <div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% for page in site.data.pages %}
            <li class="nav-item">
                <a class="nav-link" href="{{ page.link | prepend: site.baseurl }}">{{ page.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
