.top-promo {
    min-height: 80vh;
    background: url("../img/landing-promo.jpg") center 30% no-repeat;
    background-size: cover;
    color: #fff;
}

.top-promo-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
}
