

<p>
    <b>Kan tegnes for alle biler som på salgstidspunkt fortsatt er innenfor nybilgaranti.</b>
    </p>

    <div class="two-third">
        <h4>§1. Garantiomfang:</h4>
        <p>1: Forhandler tilbyr kjøper en garanti som erstatning for utgifter ved reparasjon eller utskifting av en sikret del i bilen som er oppstått grunnet plutselig funksjonssvikt.</p>
        <p>Følgende komponenter er omfattet:<br>
            Alle mekaniske og elektriske originalt montert komponenter med unntakelse av nedenfor stående:</p>
        <p>a) &nbsp;Alle komponenter som inngår i normal service og vedlikehold og som regelmessig skiftes.</p>
        <p>b) &nbsp;Hjul og dekk, tennplugger, viskerblader, armer, dyser, alle drivremmer, rør og slanger. Eksosanlegg, katalysator og partikkelfilter. Bremsesko, skiver, klosser og tromler. Batterier, lykter og pærer. Ledninger og kontakter. Karosseri, lakk ,pakninger,tettningslister. Vannlekkasje/inntrenging, håndtak, hengsler, dørstopper. Glass og varmetråder samt varmeseter og trekk inkl. setejusteringsmekanisme. Oljelekkasje samt rent justerings arbeide.</p>
        <p>c) Skade som oppstår grunnet sot oppbygging i motor.</p>
        <p>d) Tannrem er dekket såfremt denne er utskiftet i henhold til produsentens anvisning.</p>
        <p><strong>Oljetettninger og pakninger:</strong></p>
        <p>Simring forkant motor og bakkant motor, drivaksler, bakkant girkasse og differensial pakning samt andre pakninger hvor der er nødvendig å fjerne motor og girkasse for å utføre reparasjonen.</p>
        <p><strong>Arbeidsmateriale</strong>:<br>
            <strong>Olje, oljefilter og frostvæske er dekket hvis dette er nødvendig som følge av en godkjent reparasjon.</strong></p>
        <div>
            <div>
                <h4>§2. Generelle vilkår:</h4>
                <p><strong>Det ytes ikke erstatning/garanti for:</strong></p>
                <p>a) &nbsp;Som følge av ulykkestilfelle dvs en umiddelbar utenfra kommende påvirkning med mekanisk skade som følge.</p>
                <p>b) &nbsp;Som følge av ondsinnede handlinger, tyveri, påvirkning av frost, korrosjon, storm, hagl, jordskjelv, eller oversvømmelse, inntrenging av skadelige stoffer, såvel som brann eller eksplosjon.</p>
                <p>c) &nbsp;Som følge av fiendtlige handlinger, borgerkrig, borgerlige uroligheter, streik, beslagleggelse eller kjernekraft.</p>
                <p>d) &nbsp;Reparasjon som en tredjepart(leverandør, fabrikant eller tilsvarende) trer inn i eller innkallingsaksjoner.</p>
                <p>e) &nbsp;Deltagelse i veddeløp/konkuranserally arrangement eller trening dertil.</p>
                <p>f) &nbsp;Bilen utsettes for høyere aksel eller tilhengertrykk en det fabrikanten har fastsatt.</p>
                <p>g) &nbsp;Som følge av bruk, misbruk fortsatt kjøring etter oppstått skade eller oppstått reparasjon grunnet uegnede smøremidler og serviceprodukter, samt oljemangel, eller overoppheting.</p>
                <p>h) &nbsp;Som følge av endringer av bilens originale konstruksjon, for eksempel tuning, eller skade som følge av innbygningsdeler eller tilbehør som ikke aksepteres av fabrikanten.</p>
                <p>i) &nbsp;Anvendelse av synlige reparasjonstrengende gjenstander, med mindre det ikke er sammenheng mellom skade og behov for reparasjon, eller med mindre gjenstanden er blitt nødvendig reparert etter avtale med leverandøren på tidspunktet for skadens oppståelse.</p>
                <p>j) &nbsp;Kjøretøy som i garantiperioden benyttes til personbefordring eller ervervsmessig utleie uten fører.</p>
                <p>k) &nbsp;Skader som oppstår som følge av at feilen ikke er innmeldt, og at bilen ikke er blitt innlevert til reparasjon.</p>
                <p>l) &nbsp;Som følge av fabrikantens drift anvisninger i bilens bruk ikke er oppfylt.</p>
                <p>m) &nbsp;Rust\korrosjon. Lakk. Car Protect.no©</p>
                </div>
                <p>n) &nbsp;Erstatning av følgeskader, såfremt dette ikke er dekket jf.§1 og § 2.<br>
                    o) &nbsp;Feil som skyldes feilfylling av drivstoff eller forurenset drivstoff.<strong></strong></p>
                <p><strong>Dekningsbegrensning:</strong></p>
                </div>
                <div>
                    <div>
                        <p>Det er ikke begrensing i antall skadeinnmeldinger i garantiperioden. Den totale dekningssum kan ikke overstige bilens verdi ved kjøpstidspunktet.</p>
                        <div>
                            <p>En garantiytelse forutsetter:<br>
                                a) At bilen overholder fabrikkens anbefalte service og vedlikeholdsarbeid. Arbeid må utføres hos selgende forhandler eller annet moms registrert verksted.</p>
                            <p>b) Unnlate å påvirke kilometer eller andre vitale komponenter.</p>
                            <p>c) Ved utskifting av km. teller meddeles selgende forhandler og Car Protect med den aktuelle km. stand samt ny km.stand.</p>
                            <p>d) En hver skade skal innrapporteres før den igangsettes.</p>
                            <p>e) At skaderetningslinjer under paragraf 5 følges.</p>
                            <div>
                                <h4>§3. Gyldighetsområde:</h4>
                                <p>Garantien gjelder i Norge.</p>
                                <div>
                                    <div>
                                        <div>
                                            <div>
                                                <h4>§4.Garantiens ytelser:</h4>
                                                </div>
                                                </div>
                                                <div>
                                                <div>
                                                    <p>a) Rimelige omkostninger ved reparasjonen eller utskifting inklusive alle nødvendige erstatningsdeler dekkes. Bestemmende for erstatning av arbeidslønn er fabrikantens standardtid.</p>
                                                    </div>
                                                    <div>
                                                    <p>Overstiger reparasjonsomkostningene verdien av en byttedel, som normalt sett benyttes ved en slik</p>
                                                    <p>Skade, begrenses erstatningsplikten seg til en slik bytte del.</p>
                                                    <p>Garantipliktige materialomkostninger blir erstattet høyest etter fabrikantens anbefalte veiledende priser.</p>
                                                    <div>
                                                        <p>Garantien medfører ikke krav om opphør av kjøpet, opphevelse av kjøpekontrakten eller nedsettelse av prisen.</p>
                                                        <div>
                                                            <div>
                                                                <div>
                                                                    <h4>§5. Forutsetninger for oppfyllelse av garantiskader.</h4>
                                                                    <p>a) &nbsp;Etter konstatering av en under garantitiden dekningsberettiget skade skal bileieren straks og ved første mulighet telefonisk melde skaden til den selgende forhandler.</p>
                                                                    <p>b) &nbsp;Selgende forhandler og verksted skal meddele garantiadministrator om skaden og omfang innen reparasjon foretas. Den som bestiller arbeidet betaler for reparasjonen.</p>
                                                                    <p>c) &nbsp;Ved mangel av garantitagers forpliktelse til å melde skaden, hvor skaden forverres, er selger fri for erstatningsforpliktelse. Det overlates til forhandlerens skjønn å vurdere om bilen skal repareres på forhandlerens verksted, eller om bileieren skal henvises til annet egnet verksted.</p>
                                                                    </div>
                                                                    </div>
                                                                    </div>
                                                                    <div>
                                                                        <div>
                                                                            <h4>§6. Henvisning til mangelkrav:</h4>
                                                                            <p>Kjøperens rettigheter i henhold til lov om forbrukerkjøp og reklamasjonsrett forblir uendret.</p>
                                                                            <h4>§7. Garantiens begynnelse og varighet:</h4>
                                                                            <p>Garantien dekker varighet i tidsperioden som er angitt i garantibeviset eller inntil 100.000 km avhengig av hva som først inntreffer. Den begynner på dagen ved overtagelse av bilen eller ved fabrikkgarantiens opphør.</p>
                                                                            </div>
                                                                            <div>
                                                                                <p><strong>§8</strong>. Eierskifte imellom privatpersoner berører ikke garantien. Ved eierskifte skal ny eier henvende seg hos selgende forhandler som opprinnelig solgte bilen. Denne vil foreta det nødvendige. Garantien opphører såfremt bilen selges til en bilforhandler eller selges i kommisjon.</p>
                                                                                <h4>§9. Foreldelse:</h4>
                                                                                <p>Samtlige krav på garantiforsikringen foreldes etter 6 mndr. etter skadeanmeldingen til selgende forhandler, dog senest etter 6 mndr. Etter utløp av garantiperioden jf. § 4.</p>
                                                                                </div>
                                                                                </div>
                                                                                </div>
                                                                                </div>
                                                                                </div>
                                                                                </div>
                                                                                </div>
                                                                                </div>
                                                                                </div>
                                                                                </div>
                                                                                </div>
                                                                                </div>
                                                                                
