
<p>
    <b>Kan tegnes på alle våre biler* som på salgstidspunkt er:</b>

    <ul>
        <li>maks. 10 år gammel</li>
        <li>har gått under 180.000 km</li>
    </ul>
    <small>* unntak for spesielle biler</small>
</p>

<hr/>

<h4>§ 1 Garantiomfang.</h4>
<p>1. Forhandleren yter kjøperen en garanti som erstatning for utgifter i etterfølgende omfang. Garantien omfatter de listede anførte komponenter som er nevnt i hoved- gruppene. Garantien omfatter den på kjøpsavtalen noterte bil (inntil 3,5 t. total vekt), med nedenstående dekningsomfang som anført i komponentoversikten. De nevnte hovedgrupper og komponenter er definitive.</p>
<p>Garantigiver yter erstatning når en av de nevnte komponenter plutselig har mistet sin funksjonsdyktighet, og derved krever reparasjon.</p>
<p><strong>Følgende komponenter er omfattet:</strong></p>
<p><strong>Motor:</strong><br>
    Motorblokk, krumtaphus, topp lokk, toppakning, bunnkar, oljekjøler, oljetrykksbryter, oljefilterhus, samt alle oljesmurte innvendige deler; svinghjul, startkrans, tannrem eller kjede med strammerhjul. Tannrem er kun dekket såfremt denne er utskiftet i henhold til produsentens anvisning.Dokumentasjon kreves. Følgeskade som følge av røket tannrem som ikke er utskiftet i henhold til produsentens anvisning omfattes ikke av garantien.</p>
<p><strong>Motorstyringsenhet</strong>:<br>
    Elektronisk motorstyringsenhet.</p>
<p><strong>Manuell girkasse:</strong><br>
    Girkassehus og alle innvendige deler.</p>
<p><strong>Automat girkasse:</strong><br>
    Alle innvendige deler samt elektronisk styreenhet for automatkassen.</p>
<p><strong>4×4:</strong><br>
    Differensial samt alle innvendige mekaniske deler samt tettninger.</p>
<p><strong>Clutch</strong>:<br>
    Utløserlager, senterplate, hoved og slavesylinder.</p>
<p><strong>Transmisjon:</strong><br>
    Differensial er dekket. Drivhjul, kron og spisshjul samt planethjul, innvendige aksler, lager, foringer, trykkskiver, avstandstykker, koniske hjul inklusive transmissjonshus for så vel for og bakhjulsdifferensial på 4×4 biler. Unntatt er viskokoblinger samt væskedifferensial.</p>
<p><strong>Drivaksler:</strong><br>
    Kardanaksler, drivaksler, homokinetiske ledd og kardangledd.</p>
<p><strong>Styring:</strong><br>
    Mekanisk eller servostyring med alle innvendige deler og servopumpe med alle innvendige deler.</p>
<p><strong>Bremser:</strong><br>
    Hovedbremsesylinder, bremseforsterker, bremsekraft- utligner, bremsekraftbegrenser, bremsekaliper, og vakuumpumpe.</p>
<p><strong>Hydraulik:</strong><br>
    Hydraulikpumpe, trykkregulator, høydekorrektør og hydraulisk akkumulator.</p>
<p><strong>Brennstoffanlegg bensin:</strong><br>
    Elektronisk innsprøytningsanlegg, drivstoff pumpe, fødepumpe, luftmengdemåler. Elektronisk styreenhet for innsprøytingspumpe. Unntatt er innsprøytingsdyser, rør, filter og tank.</p>
<p><strong>Brennstoffanlegg diesel:</strong><br>
    Fødepumpe, dieselpumpe. Elektronisk styreenhet for innsprøytingsanlegget inkl. følere for motorstyring: avbrytermekansime, høytrykk brennstoff styreenhet, manifoldtrykk forsterker, høydeføler, gløderele. Elektronisk kontrollsystem for brennstoffanlegget.</p>
<p><strong>Elektrisk anlegg:</strong><br>
    Starter, dynamo med regulator, elektronisk tenningsan- legg med følgende deler: Coil, følere, tenningstransistorer, tennkabel, elektriske ledninger for det elektroniske innsprøytningsanlegg og sikringsboks.</p>
<p><strong>Komfort elektronikk:</strong><br>
    Vindusviskermotor for- og bak, lykteviskermotor, varmeviftemotor, ekstravifte, horn, relé, brytere, vindushevemotor, soltaksmotor, sentrallåssystem: Bryter, magnetspoler, sentrallås motorer, dørlåser og styre- enheten. (Unntatt er ledninger og ledningsforbindelser).</p>
<p><strong>Klimaanlegg:</strong><br>
    Klimaanlegget med følgende deler: Kompressor, kondensator med ventilator, hjelpeventilator, fordamper og kjølemiddel. Unntatt er rør,kabler, tørrfilter og vedlikehold av anlegget som blant annet etterfylling.</p>
<p><strong>Kjølesystem:</strong><br>
    Kjøler, varmeapparat, termostat, vannpumpe, oljekjøler for automat girkassen, visco-, termoventilator, ventila- torkobling og termostatbryter.</p>
<p><strong>Kjøredynamikk system:</strong><br>
    Fabrikksmontert ABS og ESPer dekket: unntatt er kabler og kontakter.<br>
    ASR med følgende deler: Hjulsensorer, kontakt, hyrdraulikkenhet, hydraulisk trykklager og ladepumpe. Automatisk sperredifferensial ASD: elektronisk kontrollenhet, hydraulisk enhet, pumpe og tank, hjulfølere, styrevinkelføler og ladepumpe.</p>
<p><strong>Sikkerhetssystem:</strong><br>
    Kontrollsystemer for airbag, og selestrammere.</p>
<p><strong>Turbo:</strong><br>
    Komplett enhet er dekket inkl. trykkventil. Er det en integrert del av turbo og ikke kan leveres separat.</p>
<p><strong>Oljetettninger og pakninger:</strong></p>
<p>Veivakselsimring forkant motor samt simring bakkant motor, girkasse simring i bakkant og differensialpakning sant andre pakninger ere dekket hvor det er nødvendig å fjerne motor eller girkasse for å utføre reparasjonen.</p>
<p><strong>Arbeidsmatriale:</strong><br>
    Olje, oljefilter og frostvæske er dekket hvis det er nødvendig og skifte dette med en dekningsberettiget reparasjon.</p>
<p><strong>2: Det ytes ikke garanti for:</strong></p>
<p>a) Komponenter som fabrikanten ikke har godkjent.</p>
<p>b) Drifts- og hjelpestoff, som brennstoff, kjemikaler, filterinnsats, kjøle- og frostmiddel, hydraulikkvæsker, olje, fett, og særlige smøremidler.</p>
<p>c) Alle ikke direkte eller indirekte nevnte komponenter, også hvis disse tilhører en hovedgruppe. d) Rust\korrosjon og lakk.</p>
<h4>§ 2.Garantiens omfang og unntakelser:</h4>
<p>Uansett årsak, ytes det ikke garanti for medvirkende årsaker til skader:</p>
<p>a) Som følge av ulykkestilfeller, d.v.s. en umiddelbar utenifra kommende påvirkning med mekanisk skade til følge.</p>
<p>b) Grov uaktsomhet, eller fortsett, tyveri, urettsmessig bruk, tyveri og underslag, slep, ved umiddelbar påvirkning av storm, hagl, lynnedslag, jordskjelv og/eller oversvøm- melse samt som følge av brann,eksplosjon, frost eller inntrgning av skadelige stoffer.</p>
<p>c) Som følge av krigshandlinger av enhver art, borgerkrig, borgerlige uroligheter, streik, avsperringer, beslagleg-gelse eller særlige offentlige inngrep, eller kjerneenergi.</p>
<p>d) &nbsp;For hvilke en tredjepart som fabrikant, leverandør eller reparatør, eller andre som inntrer i garantiforpliktelser. tilsvarende øvelses- eller presisjonskjøring.</p>
<p>f) &nbsp;Skader som oppstår som følge av høyere akseltrykk eller tilkoblingslast enn fabrikanten har foreskrevet.</p>
<p>g) &nbsp;Som følge av bruk av uegnede smøre- eller driftsmidler eller fortsatt bruk etter oppstått skade.</p>
<p>h) &nbsp;Som følge av endring av bilens opprinnelige konstruksjon. F.eks tuning/chiptuning, eller montering av fremmede tilbehørsdeler medfører at disse forvolder skade på originale deler.</p>
<p>i) &nbsp;Anvendelse av en synlig reparasjonstrengende gjen-stand med mindre det ikke er en sammenheng mellom skade og behov for reparasjon,- eller med mindre gjen-standen er blitt midlertidig nødvendig reparert etter avtale med leverandøren på tidspunktet når skaden oppsto.</p>
<p>j) &nbsp;Kjøretøy som i garantiperioden brukes til erhvervsmes-sig persontransport, eller erhvervsmessigt utleie uten fører.</p>
<p>k) &nbsp;Overopphetning, eller som følge av mangel på smøre-/kjølemiddel.</p>
<p>l) &nbsp;Komponenter som må byttes ut grunnet normal slitasje.</p>
<p>m) &nbsp;Feil som skyldes feilfylling av drivstoff eller forurenset drivstoff er unntatt garantien.</p>
<p>n) &nbsp;Feil/skader som oppstpr innefor fabrikantens garantiperiode eller innkallingsaksjon er ikke omfattet av garantien.</p>
<p>o) &nbsp;Som følge av deltagelse i konkurranse/rally, ellerDekningsbegrensning:</p>
<p>Det er ikke bergrensing i antall skadeinnmeldinger i garantiperioden. Den totale dekningssum kan ikke overstige bilens verdi ved kjøpstidspunktet.</p>
<p>3: En Garantiytelse forutsetter:</p>
<p>a) &nbsp;At bilen overholder de av fabrikanten foreskrevne eller anbefalte vedlikeholds- eller servicearbeid, og lar den selgende forhandler eller anerkjent momsregistrert reparatør foreta den nødvendige service.</p>
<p>b) &nbsp;Unnlate å foreta inngrep i kilometerteller eller andre særlige komponenter.</p>
<p>c) &nbsp;Meddele en defekt på, eller utskiftning av kilometer- telleren, med bekreftelse av den aktuelle kilometerstand.</p>
<p>d) &nbsp;At garantipliktige skader meldes straks og innen reparasjon påbegynnes.</p>
<p>e) &nbsp;At bestemmelsene i § 6, skadeavvikling oppfølges.</p>
<h4>§ 3 Dekningsområde:</h4>
<p>Garantien gjelder i Norge.</p>
<h4>§ 4 Garantiens omfang og omkostningsfordeling med kjøper:</h4>
<p>a) &nbsp;Rimelige omkostninger ved reparasjonen eller utskifting inklusive alle nødvendige erstatningsdeler dekkes. Bestemmende for erstatning av arbeidslønn er fabrikantens standardtid.</p>
<p>Overstiger reparasjonsomkostningene verdien av en byttedel, som normalt sett benyttes ved en slik Skade, begrenses erstatningsplikten seg til en slik byttedel.</p>
<p>Deleomkostningen blir erstattet etter følgende tabell, under iakttakelse av samlet driftslengde av den defekte del på skadetidspunktet:</p>
<p><strong>Inntil 100.000 km: 100%</strong><br>
    <strong>Inntil 120.000 km: 80%</strong><br>
    <strong>Inntil 140.000 km: 60%</strong><br>
    <strong>Inntil 160.000 km: 50%</strong><br>
    <strong>Over 160.000 km: 40%</strong></p>
<p>Differansebeløpet betaler bileier som egenandel.</p>
<p>3: Garantien dekker ikke:</p>
<p>a) Utgifter til test, og prøvemålinger samt justeringsarbeid, såfremt disse ikke har sammenheng med den garantipliktige skade.</p>
<p>b) Erstatning for følgeskader, som f. eks Driftstap, veihjelp, leiebil og transportomkostninger.</p>
<p>c) Garantien utgjør ikke noe rett til opphevelse eller an- nullering av kjøpsavtalen, forholdsmessig reduksjon, eller prisavslag.</p>
<h4>§ 5 Forutsetninger for reklamasjons- og garanti-ytelser:</h4>
<p>a) Etter konstatering av en garantiskade skal garantitaker straks, og i påkommende tilfeller også telefonisk ringe til den selgende forhandler for å melde skaden. Selgende forhandler og verksted skal meddele garantiadministrator om skaden og omfang innen reparasjon foretaes. Den som bestiller arbeidet betaler for reparasjonen.</p>
<p>b) Er reparasjon hos forhandleren ikke mulig, f. eks ved utenlandsreiser, kan reparasjon etter avtale med selgende forhandler utføres på et av fabrikantens godkjente verksteder.</p>
<p>Garantitaker skal i sådanne tilfeller kunne fremlegge kvittert regning, og vedlegge denne. Regningen fremlegges hurtigst mulig for den selgende forhandler. Denne erstatter utlegget etter Intern godkjenning.</p>
<p>c) Kjøper skal medvirke til opplysning om skadens omfang, og skal i påkommende tilfeller fremvise de skadde delene til rådighet. Erstattede deler skal på kjøpers forlangende stilles til hans rådighet.</p>
<p>d) I skadetilfeller skal kjøper kunne dokumentere at bilen har utført fabrikantens foreskrevne vedlikeholds- og servicearbeid, samt at disse er blitt utført hos den selgende forhandler, eller en av fabrikkens godkjente reparatører.</p>
<p>e) Kjøper skal best mulig forsøke å begrense skadens omfang, og følge forhandlerens eller dennes reparatørs anvisninger.</p>
<h4>§ 6 Varighet og forlengelse:</h4>
<p>Garantien gjelder i avtalt tidsperiode avhengig av som er notert på garantisertifikatet eller ved 200.000 km avhengig av hva som først inntreffer.<br>
    Garantien begynner på dagen hvor bilen overdras til kjøper eller hvor fabrikksgarantien opphører.</p>
<h4>§ 7. Eierskifte:</h4>
<p>Eierskifte imellom privatpersoner berører ikke garantien. Ved eierskifte skal ny eier henvende seg hos selgende forhandler som opprinnelig solgte bilen. Denne vil foreta det nødvendige. Garantien opphører såfremt bilen selges til en bilforhandler eller selges i kommisjon.</p>
<h4>§ 8. Foreldelse.</h4>
<p>Samtlige krav på garantiforsikringen foreldes etter 6 mdr. etter skadeanmeldingen til selgende forhandler, dog senest etter 6 mdr. etter utløp av garantiperidoen jf. § 4.</p>
<h4>§ 9. Henvisning til mangelkrav:</h4>
<p>Kjøperens rettigheter i henhold til lov om forbrukerkjøp og reklamasjonsrett forblir uendret.</p>
